{% extends 'base.html.twig' %}

{% block title %}
    {{ 'delete'|trans({'%id%': gallery.id|default('')}) }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/deleting.css') }}">
{% endblock %}
{% block body %}
    <div>
    <a id="back" href="{{ url('galleries_index') }}" class="btn btn-outline-secondary">
        {{ 'action_back_to_list'|trans }}
    </a>
    </div>
    <h1>{{ 'delete'|trans({'%id%':  gallery.id|default('')}) }}</h1>
    <div id="form">
        {{ form_start(form, { method: 'DELETE', action: url('gallery_delete', {id:  gallery.id}) }) }}
        {{ form_widget(form) }}
        <h3>{{ 'sure?'|trans }}</h3>
        <div id="save">
            <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-outline-danger" />
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}