{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Galleries'|trans }}
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/galleries.css') }}">
{% endblock  %}

{% block body %}

    <h1>{{ 'Welcome to the Photo gallery!'|trans }}</h1>
    <h2>{{ 'Here you can see the list of all galleries:'|trans }}</h2>
    {% if is_granted("ROLE_ADMIN")  %}
        <div><a id="createbutton" href="{{ url('gallery_create') }} " class="btn btn-outline-dark">{{ 'create_new'|trans }}</a></div>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center text-dark">

                {{ knp_pagination_render(pagination) }}

            </ul>
        </nav>
        <div class="list-group">
            <table id="tabelka">

                {% for gallery in pagination %}
                    <tr class="galleryrow">

                        <td class="gallerylist"><a href="{{ url('gallery_show', {'id': gallery.id}) }}" class="list-group-item list-group-item-action list-group-item-bg-light">{{ gallery.nameGallery }}</a>
                      {% if is_granted("ROLE_ADMIN")  %}
                        <a href="{{ url('gallery_edit', {'id': gallery.id}) }}" title="{{ 'edit'|trans }}" class="btn btn-outline-light">{{ 'edit'|trans }}</a>
                          {% if not gallery.photos|length %}

                            <a href="{{ url('gallery_delete', {id: gallery.id}) }}" title="{{ 'delete'|trans }}" class="btn btn-outline-dark">
                                {{ 'delete'|trans }}
                            </a>
                           {% endif %}
                    </tr>
                        {% endif %}
                {% endfor %}
            </table>
        </div>
        <ul class="pagination justify-content-center text-dark">

            {{ knp_pagination_render(pagination) }}

        </ul>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

{% endblock %}


