{% extends 'base.html.twig' %}

{% block title %}
    {{ 'One-gallery'|trans({'%id%': gallery.id|default('')}) }}
{% endblock %}
{% block header %}
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/photosList.css') }}">

    {% endblock  %}

{% endblock %}


{% block body %}
    <div id="back">
        <a class="btn btn-outline-dark" href="{{ url('galleries_index') }}">{{ 'go_back'|trans }}</a>
    </div>
    <h1>{{ 'One-gallery'|trans }}</h1>
    <h2>{{ 'This-gallery-is-called'|trans}} {{  gallery.nameGallery }}</h2>

    {% if gallery is defined and gallery|length %}
        <div id="photo_gallery">
            {% for photos in gallery.photos %}
                <div id="photo"  class="card">
                    <img src="{{ asset('uploads/photos/'~ photos.link) }}" class="card-img-top">

                    <div class="card-body">
                        <h5 class="card-title">{{ photos.title }}</h5>
                        <h6>{{ photos.gallery.nameGallery }}</h6>
                        <p class="card-text">{{ photos.description }}</p>


                        <a href="{{  url('photo_show', {id: photos.id})  }}" title="{{ 'see_this_photo'|trans }}" class="btn btn-outline-dark">{{ 'see_this_photo'|trans }}</a>
                    </div>
                </div>

            {% endfor %}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>

    {% endif %}



{% endblock %}
