{% extends 'base.html.twig' %}

{% block title %}
    {{ 'see_this_photo'|trans({'%id%': photo.id|default('')}) }}
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/photoOne.css') }}">
{% endblock  %}
{% block body %}
    <h1>{{ 'see_this_photo'|trans({'%id%': photo.id|default('')}) }}</h1>
    <p>
        <a href="{{ url('photos_index') }}" title="{{ 'action_back_to_list'|trans }}">
            {{ 'action_back_to_list'|trans }}
        </a>
    </p>
    {% if photo is defined and photo|length %}
        <div>
            <dl>
                <dt>{{ 'photo_title'|trans }}</dt>
                <dd>{{ photo.title }}</dd>
                <dt>{{ 'photo_description'|trans }}</dt>
                <dd>{{ photo.description }}</dd>

                    <dt>{{ 'photo_tags'|trans }}</dt>
                    {% for tags in photo.tags %}
                    <dd>{{ tags.title }}</dd>
                    {% endfor %}


                <a href="{{ url('photo_edit', {'id': photo.id}) }}">{{'edit'|trans}}</a>
                <a href="{{ url('photo_delete', {'id': photo.id}) }}">{{'delete'|trans}}</a>

            </dl>
            <img id="photo" src="/uploads/photos/{{ photo.link }}" >


        </div>

            {% for comments in photo.comments %}
                    <div>
                        <h6>{{ comments.user.email }}</h6>
                        <p>{{ comments.content }}</p>
                        <a href="{{ url('comment_edit', {id: comments.id, photo_id: photo.id}) }}">{{'edit'|trans}}</a>
                        <a href="{{ url('comment_delete', {id: comments.id, photo_id: photo.id}) }}">{{'delete'|trans}}</a>
                    </div>

            {% endfor %}

        <h1> {{ 'adding_new_comment'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div  class="form-group row float-sm-right">
            <input type="submit" value="{{ 'save'|trans }}" class="btn btn-light">
        </div>

        {{ form_end(form) }}




    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}