{% extends 'base.html.twig' %}
{% block title %}
    {{ 'create_new'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'create_new'|trans }}</h1>
    {{ form_start(form, { method: 'POST', action: url('tag_create') }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-outline-success" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('tags_index') }}" class="btn btn-outline-secondary">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}