{% extends 'base.html.twig' %}

{% block title %}
    {{ 'tag_filtration'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}
{% block header %}
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/photosList.css') }}">

    {% endblock  %}

{% endblock %}


{% block body %}
    <h1>{{ 'tag_filtration'|trans }}</h1>
    <h2>{{ 'photos_for_tag:'|trans}} {{  tag.title }}</h2>
    <a class="btn btn-outline-dark" href="{{ url('tags_index') }}">{{ 'go_back'|trans }}</a>

    {% if tag is defined and tag|length %}
        <div id="photo_gallery">
            {% for photos in tag.photos %}
                <div id="photo"  class="card">
                    <img src="/uploads/photos/{{ photos.link }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ photos.title }}</h5>
                        <h6>{{ photos.gallery.nameGallery }}</h6>
                        <p class="card-text">{{ photos.description }}</p>


                        <a href="{{  url('photo_show', {id: photos.id})  }}" title="{{ 'see_this_photo'|trans }}" class="btn btn-outline-dark">{{ 'see_this_photo'|trans }}</a>
                    </div>
                </div>

            {% endfor %}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>

    {% endif %}



{% endblock %}
